# 환경 변수 / 시크릿 (API 키 유출 방지)
.env

# 가상환경 / 파이썬 캐시
venv/
__pycache__/
*.pyc

# 오디오 파일 관련
test_audio/KimKyungHoon.wav
test_audio/KoJaeWoong.wav

# 기타 폴더
dist/
build/
main.spec/

# 파이썬 파일
setup.py

# exe파일
*.exe

# weight 파일 관련
*.pt
*.gguf
*.safetensors

# 고화질 영상
*.mp4